@import url(fonts.css);

/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: #444; }
body { overflow-x: hidden;}
/* 클리어픽스 */
.clear::after {
  content: '';
  display: block;
  clear: both;
}