/* 헤더 */
header {
  position: relative;
  width: 100%; height: 60px;
  background-color: #f0e9e3f8;
  z-index: 300;
}
#logo {
  float: left;
  position: relative;
  width: 50%; height: 100%;
}
#logo > a {
  display: block; position: relative;
}
#logo > a > img {
  position: absolute;
  height: 40px;
  top: 10px;
  left: 20px;
}
nav {
  /* background-color: aquamarine; */
  position: relative;
  float: right;
  width: 50%; height: 100%;
}
.navi {
  float: right;
  display: block;
  font-size: 3em;
  margin-right: 20px;
  color: #fff;
  margin-top: -4px;
}
.navi i { transition: all 0.5s; }
.navi:hover > i { color: #ab162c; }


/* 햄버거 아이콘 누르면 나오는 영역 */
.gnb {
  background-color: #f0e9e3;
  position: fixed;
  width: 100%; height: 100%;
  z-index: 888;
  /* opacity: 0; */
  top: -100%;
  transition: all 0.6s;
}
.gnb.on { top: 0; }



/* 상단 로고 로그인 등 애들 */

.hide {
  /* background-color: palegoldenrod; */
  position: absolute;
  width: 100%; height: 12%;
}

/* 로고 */
.logo {
  /* background-color: paleturquoise; */
  width: 50%; height: 60%;
  position: relative;
  float: left;
}
.logo > a {
  display: block; 
  position: relative;
}
.logo > a > img {
  position: absolute;
  height: 40px;
  top: 10px;
  left: 20px;
  bottom: 10px;
}

/* 로그인 매장찾기 */
.htxt {
  /* background-color: palevioletred; */
  width: 100%; height: 40px;
  position: absolute;
  line-height: 40px;
  top: 55px;
}
.htxt > ul > li {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  color: #514945;
  width: 50%;
  text-align: center;
  border-top: 1px solid #514945;
  border-bottom: 1px solid #514945;
}
.htxt > ul > li:nth-child(1) { border-right: 1px solid #514945; }

/* 닫기 버튼 */
.x {
  font-size: 3em;
  float: right;
  height: 100%;
  margin-right: 20px;
  margin-top: -4px;
}
.x > a > i { transition: all 0.5s; color: #fff; }
.x:hover > a > i { color: #AB162C; }

/* 메뉴 */
.gnbb {
  /* background-color: papayawhip; */
  position: absolute;
  width: 100%; height: 88%;
  top: 100px;
}
.gnbb > li { width: 100%; }
.gnbb > li > a{
  position: relative;
  text-align: center;
  display: inline-block; line-height: 50px;
  width: 100%; height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  color: #514945;
  /* background-color: #a09088; */
  border-bottom: 1px solid #725f56;
}

.gnbb > li > a > i {
  position: absolute;
  right: 40px; top: 20px;
}
.gnbb > li > ul > li > a {
  position: relative;
  display: inline-block; line-height: 50px;
  width: 100%; height: 50px;
  font-size: 1.2em;
  color: #fff;
  background-color: #725f56;
  text-align: center;
  border-bottom: 1px solid #f0e9e3;
}
.gnbb > li > ul { display: none; }
.gnbb> li > ul.on { display: block; }
